.hero_section {
  display: grid;
  grid-template-columns: 181px auto auto auto 181px;
  position: relative;
  grid-column: 1 / span 5;
  background-color: white;
  height: 104px;
  margin-bottom: 23px;
  padding: 24px 0;
}

.navigation_label,
#slash_in_hero_section,
#search_res_label {
  font-size: 20px;
}

.navigation_label,
#slash_in_hero_section {
  color: rgb(156, 155, 155);
  padding-right: 10px;
}

.hero_section_label {
  margin-bottom: 1px;
}

.navigation_label:hover {
  text-decoration: underline;
}

.text_container {
  grid-column: 2;
}